/* External CSS style file */

@font-face {
   font-family: 'UltrakillFont'; /*a name to be used later*/
   src: url('./VCR_OSD_MONO_1.001.ttf'); /*URL to font*/
}

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 10px;
   background: #434343;
}

a
{
   text-decoration: none;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
}

.header h1 {
   font-size: 50px;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

.flexBox
{
   display: flex;
}

.ultrakillTitleText
{
   font-family: UltrakillFont;
   color: white;
   text-align: center;
}

.ultrakillTitleImage
{
   width: 40%;
   margin-left: 30%;
   margin-right: 30%;
}

.ultrakillTitleButtonMain
{
   background-color: rgb(0, 0, 0,0.5);
   border-radius: 0.7vw;
   width: 25vw;
   height: 4vw;
   margin-top: 0.2vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ultrakillTitleButtonMain:hover
{
   background-color: rgb(238, 238, 238,0.5);
   border-radius: 0.7vw;
   border: solid;
   border-width: 0.2vw;
   width: 25vw;
   height: 4vw;
   margin-top: 0.2vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ultrakillTitleButtonMain h2
{
   font-family: UltrakillFont;
   font-size: 200%;
   color: white;
   text-align: center;
   margin:0px;
}

.titleAnchor
{
   color:black;
}

.settingChunk
{
   background-color: rgb(0, 0, 0,0.5);
   padding: 2vw;
   border-radius: 0.5vw;
   margin-bottom: 0.5vw;
}

.settingChunk h3
{
   font-family: UltrakillFont;
   color: whitesmoke;
   margin-top: 0px;
   margin-bottom: 0.5%;
   font-size: 200%;
}

.button
{
   background-color: rgb(0, 0, 0,0.5);
   border: solid white;
   color: white;
   width: 15vw;
   height: 4vw;
   padding: 0vw 2vw;
   border-radius: 0.8vw;
   font-family: UltrakillFont;
   font-size: 200%;
   cursor: pointer;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   overflow: hidden;
   background-color: #333;
 }
 
 /* Style the topnav links */
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #cccccc;
   padding: 10px;
 }
